<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container content">
      <header class="masthead">
		<ul class="nav">
	        <h3 class="masthead-title">
	          <a href="{{ site.baseurl }}" title="Home">If credit's what matters, I'll take credit.</a>
	        </h3>
			<li>
				<a href="/about">About</a>
				|
				<a href="/atom.xml">Feed</a>
			</li>
		</ul>
      </header>

      <main>
	  {{ content }}
      </main>

      <div class="footer">
        <small>
          &copy; Nick Jones, 2016
        </small>
      </div>
    </div>

  </body>
</html>
